In [150]:
from functools import reduce
import pandas as pd
df=pd.read_csv('Downloads/students.csv')
print(df)

   roll_no    name  age  Marks_math  marks_eng gender
0      101    riya   17          88         92      f
1      102   arjun   18          75         82      m
2      103   sneha   17          90         85      f
3      104  rakesh   19          65         70      m
4      105   aditi   18          95         88      f

In [151]:
print(df[['name','marks_eng']])

     name  marks_eng
0    riya         92
1   arjun         82
2   sneha         85
3  rakesh         70
4   aditi         88

In [152]:
df['total']=df[['Marks_math','marks_eng']].sum(axis=1)
print(df)

   roll_no    name  age  Marks_math  marks_eng gender  total
0      101    riya   17          88         92      f    180
1      102   arjun   18          75         82      m    157
2      103   sneha   17          90         85      f    175
3      104  rakesh   19          65         70      m    135
4      105   aditi   18          95         88      f    183

In [153]:
#or
df['total']=df['Marks_math'] + df['marks_eng']
print(df['total'])

0    180
1    157
2    175
3    135
4    183
Name: total, dtype: int64

In [154]:
print(df['Marks_math'].mean())

82.6

In [155]:
a=df[df['gender']=='f']
print(a)

   roll_no   name  age  Marks_math  marks_eng gender  total
0      101   riya   17          88         92      f    180
2      103  sneha   17          90         85      f    175
4      105  aditi   18          95         88      f    183

In [156]:
a=df.sort_values(by='Marks_math',ascending=False)
print(a)

   roll_no    name  age  Marks_math  marks_eng gender  total
4      105   aditi   18          95         88      f    183
2      103   sneha   17          90         85      f    175
0      101    riya   17          88         92      f    180
1      102   arjun   18          75         82      m    157
3      104  rakesh   19          65         70      m    135

In [157]:
df['gender']=df['gender'].map({'f':'Female','m':'Male'})
print(df)

   roll_no    name  age  Marks_math  marks_eng  gender  total
0      101    riya   17          88         92  Female    180
1      102   arjun   18          75         82    Male    157
2      103   sneha   17          90         85  Female    175
3      104  rakesh   19          65         70    Male    135
4      105   aditi   18          95         88  Female    183

In [158]:
df['result']=df['total'].apply(lambda x:'pass' if x>150 else 'fail')
print(df)

   roll_no    name  age  Marks_math  marks_eng  gender  total result
0      101    riya   17          88         92  Female    180   pass
1      102   arjun   18          75         82    Male    157   pass
2      103   sneha   17          90         85  Female    175   pass
3      104  rakesh   19          65         70    Male    135   fail
4      105   aditi   18          95         88  Female    183   pass

In [159]:
upper=list(map(lambda x: x.upper(),df['name']))
print(upper)

['RIYA', 'ARJUN', 'SNEHA', 'RAKESH', 'ADITI']

In [160]:
df['name']=df['name'].map(str.upper)
print(df)

   roll_no    name  age  Marks_math  marks_eng  gender  total result
0      101    RIYA   17          88         92  Female    180   pass
1      102   ARJUN   18          75         82    Male    157   pass
2      103   SNEHA   17          90         85  Female    175   pass
3      104  RAKESH   19          65         70    Male    135   fail
4      105   ADITI   18          95         88  Female    183   pass

In [161]:
c=list(filter(lambda x: x>=80,df['Marks_math']))
print(c)

[88, 90, 95]

In [162]:
df['gread']=df['total'].apply(lambda x:'a' if x>=170 else 'b' if x>=150 else 'c' )
print(df)

   roll_no    name  age  Marks_math  marks_eng  gender  total result gread
0      101    RIYA   17          88         92  Female    180   pass     a
1      102   ARJUN   18          75         82    Male    157   pass     b
2      103   SNEHA   17          90         85  Female    175   pass     a
3      104  RAKESH   19          65         70    Male    135   fail     c
4      105   ADITI   18          95         88  Female    183   pass     a

In [163]:
from functools import reduce
e=reduce(lambda x,y: x + y,df['Marks_math'])
print(e)

413

In [164]:
count=(df['age']<18).sum()
print(count)

2

In [168]:
df['avg']=df[['Marks_math','marks_eng']].mean()
print(df)

   roll_no    name  age  Marks_math  marks_eng  gender  total result gread  \
0      101    RIYA   17          88         92  Female    180   pass     a
1      102   ARJUN   18          75         82    Male    157   pass     b
2      103   SNEHA   17          90         85  Female    175   pass     a
3      104  RAKESH   19          65         70    Male    135   fail     c
4      105   ADITI   18          95         88  Female    183   pass     a

   avg
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN

In [177]:

df['avg']=(df['Marks_math']+df['marks_eng'])/2
print(df)

   roll_no    name  age  Marks_math  marks_eng  gender  total result gread  \
0      101    RIYA   17          88         92  Female    180   pass     a
1      102   ARJUN   18          75         82    Male    157   pass     b
2      103   SNEHA   17          90         85  Female    175   pass     a
3      104  RAKESH   19          65         70    Male    135   fail     c
4      105   ADITI   18          95         88  Female    183   pass     a

    avg
0  90.0
1  78.5
2  87.5
3  67.5
4  91.5

In [183]:
result=df[df['marks_eng']>df['Marks_math']]
print(result)

   roll_no    name  age  Marks_math  marks_eng  gender  total result gread  \
0      101    RIYA   17          88         92  Female    180   pass     a
1      102   ARJUN   18          75         82    Male    157   pass     b
3      104  RAKESH   19          65         70    Male    135   fail     c

    avg
0  90.0
1  78.5
3  67.5

In [186]:
df.groupby('gender')['avg'].mean()

gender
Female    89.666667
Male      73.000000
Name: avg, dtype: float64

In [187]:
df['total'].max()

183