# Experiment-6

## 1.Consider student dataset & train simple linear regression to predict student scores based on study hours and also Evaluate the model using different metrics.

In [2]:
# import packages
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score

In [3]:
df = pd.read_csv('D:/dip(AIML(cse))/kaggle/StudentStudyHour1.csv')
df.head(5)

   Hours  Scores
0    2.5    21.0
1    5.1    47.0
2    3.2    27.0
3    8.5    75.0
4    3.5    30.0

In [4]:
df.isnull().sum()

Hours     0
Scores    2
dtype: int64

In [5]:
# dropping rows which have null values
df.dropna(inplace=True,axis=0)
df.head(5)

   Hours  Scores
0    2.5    21.0
1    5.1    47.0
2    3.2    27.0
3    8.5    75.0
4    3.5    30.0

In [6]:
df.isnull().sum()

Hours     0
Scores    0
dtype: int64

In [8]:
#splits the dataset into dependent(y) and independent(x) variables
Y = df['Scores']
X = df.drop('Scores',axis=1)

In [9]:
# Split the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.25)

In [10]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((19, 1), (7, 1), (19,), (7,))

In [11]:
print(x_train)  #just to check the values in test data

    Hours
5     1.5
22    3.8
25    1.3
11    5.9
10    7.7
7     5.5
4     3.5
13    3.3
27    6.1
2     3.2
26    2.6
19    7.4
18    6.1
24    7.8
3     8.5
23    6.9
6     9.2
21    4.8
1     5.1

In [12]:
print(y_test) #just to check the values in test data

12    41.0
14    17.0
20    30.0
17    24.0
15    95.0
9     25.0
0     21.0
Name: Scores, dtype: float64

In [13]:
# train the model using training data
lr = LinearRegression()
model = lr.fit(x_train,y_train)

In [14]:
#test the model using test data ( Pass only independent variable not dependent varible)
y_pred = model.predict(x_test)

# Just compare actual values and predicted values
df = pd.DataFrame({'y_test':y_test,'y_pred':y_pred})
df

    y_test     y_pred
12    41.0  47.112816
14    17.0  14.765056
20    30.0  29.987532
17    24.0  22.376294
15    95.0  88.974623
9     25.0  29.987532
0     21.0  28.084722

In [15]:
# Evaluate the model using MSE RMSE
print("The MSE is : ", mean_squared_error(y_test,y_pred))
print("The R square is : ", r2_score(y_test,y_pred))

The MSE is :  22.338857299072718
The R square is :  0.9644031217022906