# Experiment-7

# Consider student dataset & train Multiple Linear Regression to predict boston house and  also Evaluate the model using different metrics.

In [2]:
# import packages
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score

In [4]:
df=pd.read_csv('D:/dip(AIML(cse))/kaggle/Boston.csv')
df.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,NaN,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [5]:
# check for missing values in all the columns
df.isnull().sum()

Unnamed: 0    0
crim          0
zn            0
indus         0
chas          5
nox           0
rm            0
age           0
dis           0
rad           0
tax           0
ptratio       0
black         0
lstat         0
medv          0
dtype: int64

In [6]:
mean=df['chas'].mean()
df['chas']=df['chas'].fillna(mean)
df.isnull().sum()

Unnamed: 0    0
crim          0
zn            0
indus         0
chas          0
nox           0
rm            0
age           0
dis           0
rad           0
tax           0
ptratio       0
black         0
lstat         0
medv          0
dtype: int64

In [7]:
X = df.drop('medv',axis=1)
Y = df['medv'] #This "medv" is taken as target price to predict

In [8]:
from sklearn.model_selection import train_test_split

# splits the training and test data set in 80% : 20%
# assign random_state to any value.This ensures consistency.
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state=5)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(404, 14)
(102, 14)
(404,)
(102,)

In [15]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

lin_model = LinearRegression()
lin_model.fit(X_train, Y_train)
#test the model using test data ( Pass only independent variable not dependent varible)
y_pred = lin_model.predict(X_test)

# Just compare actual values and predicted values
df = pd.DataFrame({'Y_test':Y_test,'y_pred':y_pred})
df

     Y_test     y_pred
226    37.6  37.464163
292    27.9  32.023718
90     22.6  27.299563
373    13.8   5.746823
273    35.2  34.817698
..      ...        ...
349    26.6  21.249634
212    22.4  22.298891
156    13.1  13.380906
480    23.0  23.761445
248    24.5  20.968180

[102 rows x 2 columns]

In [17]:
# Evaluate the model using MSE RMSE
print("The MSE is : ", mean_squared_error(Y_test,y_pred))
print("The R square is : ", r2_score(Y_test,y_pred))

The MSE is :  21.18378431116022
The R square is :  0.7294323979422319